<!DOCTYPE html>
<hmtl>
<head>
    <meta charset="UTF-8">
    <title>Elucidad | Welcome</title>
    <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body>
    <div class="body">
        <div class="imageblock"></div>
        <div class="registration-form">
            <h1>Registration Form</h1>
            <p>First time? Please register below to access some sweet sweet jokes.</p>
            <form method="post" action="#">
                <fieldset>
                    <label for="username">Enter a username: <input name="username" type="text"></label>
                    <label for="email">Enter an email: <input name="email" type="text"></label>
                    <label for="password">Enter a password: <input name="password" type="text"></label>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</hmtl>