<!DOCTYPE html>
<hmtl>
<head>
    <meta charset="UTF-8">
    <title>Elucidad | Welcome</title>
    <link rel="stylesheet" href="/main.css" type="text/css">
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>Welcome to Elucidad!</h1>
        </div>
        <div class="right">
            <h1>Registration Form</h1>
            <p>First time? Please register below to access some sweet sweet jokes.</p>
            <form method="post" action="#">
                <fieldset>
                    <label for="username">Enter a username: <input name="username" type="text"></label>
                    <label for="email">Enter an email: <input name="email" type="text"></label>
                    <label for="password">Enter a password: <input name="password" type="text"></label>
                </fieldset>
                <input type="submit" value="Submit" />
            </form>
            <h1>Already a User?</h1>
            <p>Please login below!</p>
            <form method="post" action="#">
                <fieldset>
                    <label for="username">Username: <input name="username" type="text"></label>
                    <label for="password">Password: <input name="password" type="text"></label>
                </fieldset>
                <input type="submit" value="Login" />
            </form>
        </div>
    </div>
</body>
</hmtl>