<!DOCTYPE html>
<hmtl>
<head>
    <meta charset="UTF-8">
    <title>Elucidad | Generate Joke</title>
    <link rel="stylesheet" href="/main.css" type="text/css">
</head>
<body>
    <nav>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Contact</a></li>
            <li style="float:right"><a href="#">Logout</a></li>
        </ul>
    </nav>
    <div class="main-container">
        <h1>Sample Text</h1>
        <h3>Sample Text for jokes</h3>
    </div>
</body>
</hmtl>